@charset "UTF-8";

/* 초기화 */
header, section, footer, aside, nav, article, figure, figcaptoin{
   display: block;
}

/* 공통 요소 */
a { /* a 태그 만났을떄 밑줄과 색상을 제거 */
   color: #de6581;
   text-decoration: none;}
h1, h2, h3 { font-weight: normal;} /* 원래 굵기로 설정 */
h2 {
   margin: 10px 0px 5px 0px; /* 바깥쪽 여백 설정 */
   padding: 0px;}
h3 {
   margin: 0px 0px 10px 0px;
   color: #de6581;}
body {
   color: #666666;
   background: #f9f8f6 url("../../image/dark-wood.jpg")center; 
   /* 배경 색상과 이미지를 넣는다 */
   font-family: Georgia, Times, serif;
   line-height: 1.4em;
   margin: 0px;}

/* 전체 div 요소 제어 */
.wrapper {
   width: 940px;
   margin: 20px auto 20px auto;
   border: 2px solid #000000;
   background-color: #ffffff;}

/* header 영역 및 nav, footer 영역 */
header {
   height: 160px;
   background-image:url("../../image/header.jpg");}
h1 {
   visibility: hidden;
   width: 940px;
   height:130px;
   margin: 0px;}
nav, footer {
   clear: both;
   color: #ffffff;
   background-color: #aeaca8;
   height: 30px;}
   
/* nav 태그 내 메뉴 제어 */
nav ul {
   margin: 0px;
   padding: 5px 0px 5px 30px;}
nav li{
   display:inline;
   margin-right: 40px;/* li 와 li 사이 간격 */}
nav li a{
   color: #ffffff;}
nav li a:hover, nav li a.current{
   color: #000000;}/* 마우스 올려놓았을 때 해당 색상으로 변경됨 */

/* section 영역 */
section.courses{
   float: left;
   width: 659px;
   border-right: 1px solid #eeeeee;}

/* section 내 컨텐츠(article) 영역 */
.more-articles{
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	
	
}
.more-articles img{
  
   width: 400px;
   height: 220px;
   overflow:auto;
   border: 1px solid #eeeeee;
   
   }
 
 #osaka ,#hiroshima{
 	float:left;
 	width:280px;
 	height:auto;
 	margin:10px 15px;
 	padding:5px 5px;
 }
 li{text-align:left;}
.more-articles span{color:blue; font-weight: bold;font-style:italic;}
.highlight{text-decoration:underline dotted; }
/* aside 영역 */
aside {
   width: 230px;
   float: left;
   padding: 0px 0px 0px 20px;}
   
aside section a{ /* a 태크 자체가 인라인이다. */
   display: block;
   padding: 10px;
   border-bottom: 1px solid #eeeeee;}
aside section a:hover{ /* 마우스 올리면 글자색 다르게 설정 */
   color: #985d6a;
   background-color: #efefef;}
aside h2{
   padding: 30px 0px 10px 0px;
   color: #de6581;}

/* 연락처 아래 주소 "부분 구글폰트 적용은 각자 설정 */
.contact-details p{
   /* font-family: 'Patua One', cursive; */
   font-family: 'Patua One', cursive;
}
/* footer 영역*/
footer {
   font-size: 80%;
   padding: 7px 0px 0px 20px;}